<!DOCTYPE html>
<html lang="en">
<%- include('../_head'); %>  
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Helpful Insight</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
    <%- include('../_sidebar'); %>  
    <!-- End of sidebar -->
    </div>
    
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: auto !important">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add User</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Add User</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <form id="add_user_form" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">First Name  <span style="color:red ;"> *</span></label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter First Name" name="firstname" required>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Last Name <span style="color:red ;"> *</span></label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Last Name" name="lastname" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email Address <span style="color:red ;"> *</span></label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Phone Number <span style="color:red ;"> *</span></label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone Number" name="phone" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Username </label>
                      <input type="text" class="form-control" id="username" placeholder="Username" name="username" readonly>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password </label>
                      <div class="">
                        <input id="password-field" type="password" class="form-control" name="password">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Status</label>
                          <select class="form-control select2" style="width: 100%;" name="status">
                            <option selected="selected" value="1" >Active</option>
                            <option value="2">Deactive</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Photo </label>
                          <input class="form-control" name="avatar" type="file" id="formFile">
                        </div>
                      </div>
                    </div>
                  <!-- /.card-body -->
                  <div class="card-footer" style="padding:0px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include('../_script'); %> 

<script>
  $("#add_user_form").submit(function (event) {
      event.preventDefault();
      var formData = new FormData($('#add_user_form')[0]);
        $.ajax({
            type: 'POST',
            url: '/create',
            contentType: 'application/json',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
              console.log(response);
              location.href = "/list"
            }
        });
  });
</script>
</body>
</html>
